{% extends "template.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Set your observations" %}{% endblock %}
{% block content %}
  <h2>{% trans "Set a location and a date" %}</h2>

  <div id="map" class="map-form"></div>

  <form method="post" action="{% url 'map' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.date }}
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-4">
          {{ form.town }}
        </div>
        <div class="col-xs-4">
          {{ form.department }}
        </div>
        <div class="col-xs-4">
          {{ form.country }}
        </div>
      </div>
    </div>

    <div class="form-group">
      {{ form.location }}
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          {{ form.coordinate_x }}
        </div>
        <div class="col-xs-6">
          {{ form.coordinate_y }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default">{% trans 'Submit' %}</button>
    </div>
  </form>

  {% for field in form %}
    {% if field.errors %}
      {% for error in field.errors %}
        {% include "skeletons/alert.html" with type="alert-danger" label=field.label error=error %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/geolocation.js' %}"></script>
  <!-- Google map API -->
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
{% endblock %}
