{% extends "template.html" %}
{% load i18n %}

{% block title %}{% trans "Set your observations" %}{% endblock %}
{% block content %}
  <h2>{% trans "Set your observations" %}</h2>

  <p>{% trans "Date" %} : {{general.date}}</p>
  <p>{% trans "Observer" %} : {{general.last_name}} {{general.first_name}}</p>
  <p>{% trans "Location" %} : {{general.town}}, {{general.department}}</p>

  <div class="row">
    <div class="col-sm-6">
      <h3>{% trans 'Record an observation' %}</h3>

      <form method="post" action="{% url 'observations' %}">
        {% csrf_token %}

        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.name }}" class="control-label">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}

        <div class="form-group">
          <button type="submit" class="btn btn-default">{% trans 'Submit' %}</button>
        </div>
      </form>

      {% include "skeletons/form_errors.html" %}
    </div>

    <div class="col-sm-6">
      <h3>{% trans 'All the plovers seized' %}</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans 'Code' %}</th>
            <th>{% trans 'Color' %}</th>
            <th>{% trans 'Sex' %}</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          {% for plover in plovers %}
            <tr>
              <td>{{plover.code}}</td>
              <td>{{plover.color}}</td>
              <td>{{plover.sex}}</td>
              <td>
                <a href="{% url "remove_plover" plover.uuid %}">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
