{% extends "template.html" %}
{% load i18n %}
{% load core_extras %}

{% block title %}{% trans "Set your observations" %}{% endblock %}
{% block content %}
  <h2>{% trans "Search a plover" %}</h2>

  <ul class="nav nav-tabs">
    <li {% if form_url == 'search_by_metal' %}class="active"{% endif %}>
      <a href="{% url 'search_by_metal' %}">{% trans "Search by metal ring" %}</a>
    </li>
    <li {% if form_url == 'search_by_code' %}class="active"{% endif %}>
      <a href="{% url 'search_by_code' %}">{% trans "Search by color code" %}</a>
    </li>
  </ul>

  <div class="tab-content">
    <form method="post" action="{% url form_url %}">
      {% csrf_token %}

      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.name }}" class="control-label">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}

      <div class="form-group">
        <button type="submit" class="btn btn-default">{% trans "Search" %}</button>
      </div>
    </form>
  </div>

  {% include "skeletons/form_errors.html" %}

  {% if plover %}
    <h3>{% trans "Observations about the plover" %} <b>{{plover.code}} {{plover.color|color_to_string}}</b></h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans 'Date' %}</th>
          <th>{% trans 'Town' %}</th>
          <th>{% trans 'Country' %}</th>
          <th>{% trans 'Observer' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for observation in plover.observations.all %}
          <tr>
            <td>{{observation.date}}</td>
            <td>{{observation.location.town}}</td>
            <td>{{observation.location.country}}</td>
            <td>{{observation.observer.last_name|upper}} {{observation.observer.first_name}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if not_found %}
    <div class="alert alert-danger">
      <h3 class="small-top-margin"><b>{% trans "Error" %}</b></h3>
      <h4>{% trans "The plover with this code doesn't exist" %}</h4>
    </div>
  {% endif %}
{% endblock %}
