{% extends "template.html" %}
{% load i18n %}
{% load staticfiles %}
{% load core_extras %}

{% block title %}{% trans "Set your observations" %}{% endblock %}
{% block content %}
  <h2>{% trans "Search a plover" %}</h2>

  <ul class="nav nav-tabs">
    <li {% if form_url == 'search_by_metal' %}class="active"{% endif %}>
      <a href="{% url 'search_by_metal' %}">{% trans "Search by metal ring code" %}</a>
    </li>
    <li {% if form_url == 'search_by_code' %}class="active"{% endif %}>
      <a href="{% url 'search_by_code' %}">{% trans "Search by color code" %}</a>
    </li>
  </ul>

  <div class="tab-content">
    <form method="post" action="{% url form_url %}">
      {% csrf_token %}

      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.name }}" class="control-label">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}

      <div class="form-group">
        <button type="submit" class="btn btn-default">{% trans "Search" %}</button>
      </div>
    </form>
  </div>

  {% include "skeletons/form_errors.html" %}

  {% if plover %}
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="history-logo" src="{% static 'media/gonm.jpg' %}" alt="{% trans 'GONm logo' %}">
      </div>
    </div>
    <div class="col-md-8">
      <h3 class="text-center">{% trans "History of observations about a banded kentish plover" %}<b></b></h3>
      <h4 class="text-center"><i>{% trans "Charadrius alexandrinus" %}</i></h4>
    </div>
  </div>

    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tbody>
            {% trans "Metal ring" as metal_ring %}
            {% trans "Code" as code %}
            {% trans "Color" as color %}
            {% trans "Banding date" as banding_date %}

            {% include "skeletons/horizontal_row.html" with label=metal_ring value=plover.metal_ring %}
            {% include "skeletons/horizontal_row.html" with label=code value=plover.code %}
            {% include "skeletons/horizontal_row.html" with label=color value=plover.get_color_display %}
            {% include "skeletons/horizontal_row.html" with label=banding_date value=plover.banding_date %}
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table">
          <tbody>
            {% trans "Sex" as sex %}
            {% trans "Banding location" as banding_location %}
            {% trans "Bander" as bander %}

            {% include "skeletons/horizontal_row.html" with label=sex value=plover.sex %}
            {% include "skeletons/horizontal_row.html" with label=banding_location value=plover.location.minimal_location %}
            {% include "skeletons/horizontal_row.html" with label=bander value=plover.bander.full_name %}
          </tbody>
        </table>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans 'Date' %}</th>
          <th>{% trans 'Town' %}</th>
          <th>{% trans 'Country' %}</th>
          <th>{% trans 'Observer' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for observation in plover.observations.all %}
          <tr>
            <td>{{observation.date}}</td>
            <td>{{observation.location.town}}</td>
            <td>{{observation.location.country}}</td>
            <td>{{observation.observer.last_name|upper}} {{observation.observer.first_name}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if not_found %}
    <div class="alert alert-danger">
      <h3 class="small-top-margin"><b>{% trans "Error" %}</b></h3>
      <h4>{% trans "The plover with this code doesn't exist" %}</h4>
    </div>
  {% endif %}
{% endblock %}
