{% extends "template.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Set your observations" %}{% endblock %}
{% block content %}
  <h2>{% trans "Set a location and a date" %}</h2>

  <div id="map" class="map-form"></div>
  <button type="button" class="btn btn-primary large-button" onclick="geolocate();">
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    {% trans "Geolocate me" %}
  </button>

  <form method="post" action="{% url 'map' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.date }}
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          {{ form.last_name }}
        </div>
        <div class="col-xs-6">
          {{ form.first_name }}
        </div>
      </div>
    </div>

    <div class="form-group">
      {{ form.email }}
    </div>

    <hr />

    <div class="form-group">
      <div class="row">
        <div class="col-xs-4">
          {{ form.town }}
        </div>
        <div class="col-xs-4">
          {{ form.department }}
        </div>
        <div class="col-xs-4">
          {{ form.country }}
        </div>
      </div>
    </div>

    <div class="form-group">
      {{ form.locality }}
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          {{ form.coordinate_x }}
        </div>
        <div class="col-xs-6">
          {{ form.coordinate_y }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default">{% trans 'Submit' %}</button>
    </div>
  </form>

  {% include "components/form_errors.html" %}
{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/geolocation.js' %}"></script>

  <script type="text/javascript">
    function initMap() {
      {% if form.coordinate_x.value and form.coordinate_x.value %}
        var lat = {{form.coordinate_x.value}};
        var lng = {{form.coordinate_y.value}};
      {% else %}
        var lat = 49.174924;
        var lng = -0.339841;
      {% endif %}

      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: lat,
          lng: lng
        },
        zoom: 15
      });

      map.addListener('click', function(e) {
        setPosition(e.latLng);
      });
    }
  </script>

  <!-- Google map API -->
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
{% endblock %}
