{% extends "template.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
  <h2>{% trans "Set a location and a date" %}</h2>

  <div id="map" class="map-form"></div>

  <form method="post" action="{% url 'map' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.date }}
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-4">
          {{ form.town }}
        </div>
        <div class="col-xs-4">
          {{ form.department }}
        </div>
        <div class="col-xs-4">
          {{ form.country }}
        </div>
      </div>
    </div>

    <div class="form-group">
      {{ form.location }}
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          {{ form.coordinate_x }}
        </div>
        <div class="col-xs-6">
          {{ form.coordinate_y }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default">{% trans 'Submit' %}</button>
    </div>
  </form>

  <!--<form method="post" action="{% url 'map' %}">
    {% csrf_token %}
    <div class="form-group">
      <input type="date" class="form-control" name="date">
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-4">
          <input type="text" class="form-control" name="town" placeholder="{% trans 'City' %}">
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control" name="department" placeholder="{% trans 'Department' %}">
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control" name="country" placeholder="{% trans 'Country' %}">
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="location" placeholder="{% trans 'Location' %}">
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <input type="text" class="form-control" name="coordinate_x" placeholder="{% trans 'X coordinate' %}">
        </div>
        <div class="col-xs-6">
          <input type="text" class="form-control" name="coordinate_y" placeholder="{% trans 'Y coordinate' %}">
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default">{% trans 'Submit' %}</button>
    </div>
  </form>-->
{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/geolocation.js' %}"></script>
  <!-- Google map API -->
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
{% endblock %}
