{% extends "template.html" %}
{% load i18n %}

{% block content %}
  <h2>{% trans "Set your observations" %}</h2>

  <p>{% trans "Date" %} : {{location.date}}</p>
  <p>{% trans "Location" %} : {{location.town}}, {{location.department}}</p>

  <div class="row">
    <div class="col-sm-6">
      <h3>{% trans 'Record an observation' %}</h3>

      <form method="post" action="{% url 'observations' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="code" class="control-label">{% trans 'Code' %}</label>
          <input type="number" name="code" class="form-control" placeholder="{% trans 'Code' %}">
        </div>

        <div class="form-group">
          <label for="color" class="control-label">{% trans 'Color' %}</label>
          <select class="form-control" name="color">
            <option>{% trans 'Red' %}</option>
            <option>{% trans 'White' %}</option>
            <option>{% trans 'Yellow' %}</option>
            <option>{% trans 'Green' %}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sex" class="control-label">{% trans 'Sex' %}</label>
          <select class="form-control" name="sex">
            <option>{% trans 'Male' %}</option>
            <option>{% trans 'Female' %}</option>
            <option>{% trans 'Undetermined' %}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="comment">{% trans 'Comment' %}</label>
          <textarea class="form-control" rows="3" name="comment"></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{% trans 'Submit' %}</button>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
      <h3>{% trans 'All the plovers seized' %}</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans 'Code' %}</th>
            <th>{% trans 'Color' %}</th>
            <th>{% trans 'Sex' %}</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          {% for plover in plovers %}
            <tr>
              <td>{{plover.code}}</td>
              <td>{{plover.color}}</td>
              <td>{{plover.sex}}</td>
              <td>
                <a href="{% url "remove_plover" plover.uuid %}">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
