{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Banding tracking - {% block title %}{% trans "Home" %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'media/fav_icon.png' %}"/>
  <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
  <nav class="navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-burger">
          <span class="sr-only">{% trans "Toggle navigation" %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">{% trans "Home" %}</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-burger">
        <ul class="nav navbar-nav">
          <li><a href="#">{% trans "Record an observation" %}</a></li>
          <li><a href="/admin/">{% trans "Administration" %}</a></li>
          <li><a href="/about">{% trans "About" %}</a></li>
          <li><a href="/search/code">{% trans "Search a plover" %}</a></li>
          <li><a href="https://crbpo.mnhn.fr/" target="_blank">{% trans "The C.R.B.P.O" %}</a></li>
        </ul>

        <form class="navbar-form navbar-right" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" class="form-control">
              {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name_local }}
                </option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>

  {% block extrajs %}
  {% endblock %}
</body>
</html>
