{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Import new banded kentish plovers' %}
  </div>
{% endblock %}

{% block content %}
  <h1>{% trans 'Import new banded kentish plovers' %}</h1>
  <form action="/admin/import-plovers/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div>
        {{ form.file.errors }}
        <label class="required" for="id_location">{{ form.file.label_tag }}</label>
        {{ form.file }}
      </div>
    </div>
    <div class="submit-row">
      <input type="submit" value="{% trans 'Import' %}" class="default" />
    </div>
  </form>

  {% if recorded %}
  <table>
    <caption class="section">{% trans 'Imported plovers' %}</caption>
    <tbody>
      {% for bird in recorded %}
        <tr>
          <td>{{ bird }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if already_saved %}
    <table>
      <caption class="section">{% trans 'Already saved' %}</caption>
      <tbody>
        {% for bird in already_saved %}
          <tr>
            <td>{{ bird }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if rejected %}
    <table>
      <caption class="section">{% trans 'Rejected' %}</caption>
      <tbody>
        {% for bird in rejected %}
          <tr>
            <td>{{ bird.code }} {{ bird.color }} ({{ bird.metal_ring }})</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
